{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ilb/frontpage_ilb

    Frontpage ILB layout template.

    Context variables required for this template:
      <!-- Categorias de cursos -->
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon_saberes.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
         "bodyattributes":""
    }
}}



<!-- Placeholders do template: não remover!!-->
<!-- {{{ output.course_content_header }}} -->
<!-- {{{ output.main_content }}}          -->
<!-- {{{ output.course_content_footer }}} -->
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:site_name" content="Instituto Legislativo Brasileiro">
    <meta name="apple-mobile-web-app-title" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="application-name" content="Instituto Legislativo Brasileiro - ILB">
    <meta name="theme-color" content="#00305c">
    <meta name="theme-color" content="#00305c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Instituto Legislativo Brasileiro - ILB</title>
    {{>theme_ilb/head_front}}

</head>


<body {{{ bodyattributes }}}>
{{>theme_ilb/header_front}}
<!-- Logo e busca -->
<div class="container">
    <section id="cabecalhoTopo">
        <div class="PortalTopo">
            <div class="PortalTopo-id">
                <div class="PortalTopo-title">
                    <a id="portal-home-link" href="https://www12.senado.leg.br/institucional">Institucional</a>
                    <div class="PortalTopo-sub eta-xs epsilon">
                        <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
                    </div>
                </div>
            </div>
            <div class="PortalTopo-redes-sociais ">
                <dl>
                    <dd>
                        <a class="btn ShareIcon ShareIcon--circle ShareIcon--light ShareIcon--facebook" href="http://www.facebook.com/ilbsenado" target="_blank" title="Facebook" alt="Facebook"></a>
                        <a class="btn ShareIcon ShareIcon--circle ShareIcon--light ShareIcon--youtube" href="http://www.youtube.com/ILBCanal" target="_blank" title="YouTube" alt="YouTube"></a>
                    </dd>
                </dl>
            </div>
            <div class="PortalTopo-busca collapse">
                <div class="portal-search">
                    <form class="Az" action="course/search.php" role="search">
                        <input type="hidden" name="portal" value="Saberes">
                        <div class="input-group" data-toggle="_dropdown">
                            <input type="text" name="search" class="Az-input form-control" placeholder="Busca" autocomplete="off" />
                            <span class="input-group-btn">
                                <button id="btnSearchCourse" class="btn btn-default" type="submit" aria-label="Buscar">
                                    <div class="glyphicon glyphicon-search text-muted"></div>
                                </button>
                            </span>
                        </div>
                        <div class="u-posRelative">
                            <div class="Az-place Az-place--float Az-place--wide">
                                <div class="Box Box--lg">
                                    <div class="List Box">
                                        <div class="eta text-muted">Que curso você procura?</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="PortalTopo-togglers visible-xs pull-right">
                <button data-toggle="collapse" data-target=".Nav--principal" class="PortalTopo-toggler--menu">
                    <div class="Icon Icon--menu Icon--md"></div>
                </button>
                <button data-toggle="collapse" data-target=".PortalTopo-busca" class="PortalTopo-toggler--search">
                    <div class="glyphicon glyphicon-search"></div>
                </button>
            </div>
        </div>
    </section>
    <!-- Menu Principal -->
    <nav id="s-menu" class="Nav--principal navbar navbar-default navbar-collapse nav-collapse collapse Nav--collapse" role="navigation">
        <!-- Classes retiradas  -->
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" onclick="javascript:ativaAba(event, 'div.principal');return false;" data-toggle="dropdown" aria-expanded="false" aria-label="Conteúdo principal"><span class="glyphicon glyphicon-home" aria-hidden="true" style="transform: scale(1.5, 1); color: #3e6892;"></span></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" onclick="javascript:ativaAba(event, 'div.validacert');return false;" data-toggle="dropdown" aria-expanded="false">Certificados</a>
            </li>
            {{#tem_faq}}
            <li class="dropdown">
                <a href="" onclick="javascript:ativaAba(event, 'div.faq');return false;">Perguntas Frequentes</a>
            </li>
            {{/tem_faq}}
            <li>
                <a href="" onclick="javascript:ativaAba(event, 'div.contato');return false;">Contatos</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="container">
            <div id="portal-breadcrumbs" class="portal-breadcrumbs col-xs-12">
                <ol class="Breadcrumbs">
                    <li id="breadcrumbs-you-are-here">Você está aqui:</li>
                    <li id="breadcrumbs-home">
                        <a href="https://www12.senado.leg.br/institucional">Página Inicial</a>
                    </li>
                    <li id="breadcrumbs-escola-de-governo">
                        <a href="https://www12.senado.leg.br/institucional/escola-de-governo">Escola de Governo</a>
                    </li>
                    <li id="breadcrumbs-saberes">
                        <a id="breadcrumbs-saberes-link" class="disabled" href="#" onclick="javascript:ativaAba(event, 'div.principal');return false;" data-toggle="dropdown" aria-expanded="false" aria-label="Conteúdo principal">Saberes</a>
                    </li>
                    <li id="breadcrumbs-outros" class="hidden">
                        <span id="breadcrumbs-current"></span>
                    </li>

                </ol>
            </div>
        </div>
    </div>    
</div>
<!-- Abas (Certificados, Perguntas frequentes e Contato) -->
<div class="container" style="visibility:visible">
    <div id="div.validacert" class="tabcontent tabcontentCert hidden">
        {{^hide_validador}}
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#F7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Validar Certificado</h4>
                <p style="padding-top: 5%;">Digite o código do certificado para verificar:</p>
                <form class="loginform" name="cert" method="post" action="blocks/verify_certificate/index.php">

                    <input type="text" name="certnumber" id="certnumber" size="10" value="" style="width:100%;">
                    <input type="hidden" name="list" id="list" value="8">
                    <div class="pull-right" style="padding-top: 5%;">
                        <input class="btn btn-primary" type="submit" value="Verificar">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg"><br /></div>
        {{/hide_validador}}
        {{^hide_obter}}
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#F7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Obter Certificados</h4>
                <p style="padding-top: 5%;">Para obter o certificado de cursos já concluídos, clique no botão abaixo.</p>
                <div class="text-center" style="padding-top: 7%;">
                    <a class="btn btn-primary" href="blocks/get_certificate/index.php">Obter certificados</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg"><br /></div>
        {{/hide_obter}}
        {{^hide_antigos}}
        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12" style="background:#f7f7f7; border: 1px solid #e6e6e6; padding-bottom: 5%;">
                <h4 style="color: #0F5688;">Certificados antigos</h4>
                <p style="padding-top: 5%;">{{{texto_antigos}}}</p>
                <div class="text-center" style="padding-top: 7%;">
                    <a class="btn btn-warning" href="{{{link_antigos}}}" target="_blank">Certificados antigos</a>
                </div>
            </div>
        </div>
        {{/hide_antigos}}
    </div>
    <!-- Perguntas frequentes -->
    {{#tem_faq}}
    <div id="div.faq" class="container tabcontent tabContentFaq hidden">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel-group" id="accordion-faq">
                {{#faq}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-faq" href="#collapse-{{indice}}">{{pergunta}}</a>
                        </h4>
                    </div>
                    <div id="collapse-{{indice}}" class="panel-collapse collapse">
                        <div class="panel-body">{{{resposta}}}</div>
                    </div>
                </div>
                {{/faq}}
            </div>
        </div>
    </div>
    {{/tem_faq}}
    <!-- Contato -->
    <div id="div.contato" class="container tabcontent tabcontentContatos hidden" >
        <!-- Conteúdo da aba CONTATOS -->
        <div class="container">
            <p style="font-weight:bold;">{{{servico}}}</p>
            <div class="col-xs-12">
                <p><img src="{{{icon_ContatoFone-azul}}}" /> <a href="tel:{{{telefone}}}">{{{telefone}}}</a></p>
                <p><img src="{{{icon_ContatoEmail-azul}}}" /> <a href="mailto:{{{email}}}">{{{email}}}</a> </p>
                <div class="contato-redes-sociais">
                    {{{redes_sociais}}}
                </div>
            </div>
            <!-- FIM do conteúdo da aba CONTATOS -->
        </div>
    </div>
</div>
<!-- Conteúdo Principal -->
<div id="div.principal" class="container tabcontent noCashing" style="display:block">
    <div class="row">
        {{#marquet_superior}}
            <div class="row">
                {{{ linha_marquet }}}
            </div>
        {{/marquet_superior}}

        <!-- logotipo e texto -->
        {{#habilitar_destaque}}
        <div class="col-xs-12 col-md-4 text-center lessPaddingResponsible">
            <a href='{{{url_destaque}}}'>
            <img src='{{{imagem_destaque}}}' style="padding: 0 !important" class="col-xs-12 text-center lessPaddingResponsible"/>
            </a>
        </div>
        {{/habilitar_destaque}}
        {{^habilitar_destaque}}
        <div class="col-xs-12 col-md-4 text-center lessPaddingResponsible">

            <div style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-bottom: 0; padding: 11% 0 12% 0;">
                <img src='{{{logo_saberes_xl}}}' width='48%' height='48%' />
            </div>
            <div >
                <div class="col-xs-12 tamTela1000" style="background-color: #0F5688; border: 1px solid #E6E6E6;">
                    <p style="color: #FFFFFF; font-size: 16px; padding: 9% 0 9% 0;">
                        Cursos abertos e sem custo para a comunidade legislativa e os cidadãos
                    </p>
                </div>
            </div>
        </div>
        {{/habilitar_destaque}}

        <div class="col-xs-12 hidden-md hidden-lg">
            <br />
        </div>

        <!-- video  -->

        <div class="tamanhoVideo col-xs-12 col-md-4 noCashing lessPaddingResponsible">
            <iframe width="100%" height="100%" src="{{video_institucional}}" frameborder="0" allowfullscreen style="padding: 0;" class="heightVar"></iframe>
        </div>

        <div class="col-xs-12 hidden-md hidden-lg">
            <br />
        </div>
        <!-- bloco para login -->
        {{^username}}
        <div class="col-xs-12 col-md-4">
            <form class="loginform" id="login" method="post" action="login/index.php">
		        <input type="hidden" name="logintoken" value="{{logintoken}}">
                <div class="col-xs-12" style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-bottom: 0;">
                    <h4 style="color: #0F5688; border: 0;">ACESSO</h4>
                    <div class="c1 fld username">
                        <label for="login_username">CPF</label>
                        <br />
                        <div class="input-group" style="width: 100%;">
                            <input type="text" name="username" id="login_username" value="" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="c1 fld password">
                        <label for="login_password">Senha</label>
                        <br />
                        <div class="input-group" style="width: 100%;">
                            <input type="password" name="password" id="login_password" value="" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="c1 rememberusername">
                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1">
                        <label for="rememberusername">Lembrar CPF</label>
                    </div>
                </div>
                <div class="col-xs-12" style="background-color: #F7F7F7; border: 1px solid #E6E6E6; border-top: 0; padding-bottom: 3%;">
                    <div class="col-xs-5" style="padding-top: 3%; line-height: 100%; padding-left: 0;">
                        <a href="{{signup}}" style="font-size:13px;">Cadastre-se</a>
                        <br />
                        <a href="{{forgot-password}}" style="font-size:11px;">Perdeu a senha?</a>
                    </div>
                    <div class="pull-right">
                        <input class="btn btn-primary" type="submit" value="Acessar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/username}}
    <!-- se está logado, exibe nome do usuário, login, boas vindas e opção para sair -->
    {{#username}}

	{{#cpf2}}
		{{! Inserir modal do aviso caso o CPF seja duplicado e válido e o login foi migrado }}
		<script>
			$.ajax({url: "{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}", success: function(result){
				alert("O usuário {{username}} foi desativado e seus certificados foram migrados para outro cadastro com mesmo CPF. " +
					"\n\nCaso tenha dificuldades com seu acesso, favor entrar em conosco pelo e-mail ilbead@senado.leg.br.\n\n" +
					"Atenciosamente, \nEquipe de Ensino a Distância do ILB"
				);
				window.location.replace("{{{ moodle_url }}}");
			}});
		</script>
	{{/cpf2}}

	{{#cpf3}}
		{{! Inserir modal do aviso caso o CPF seja duplicado e inválido, o usuário foi cancelado }}
		<script>
			$.ajax({url: "{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}", success: function(result){
				alert("O usuário {{username}} foi desativado em virtude de haver outro cadastro com mesmo CPF. " +
					"\n\nCaso seja o titular do CPF informado, favor entrar em contato com ilbead@senado.leg.br para regularizar seu acesso.\n\n" +
					"Atenciosamente, \nEquipe de Ensino a Distância do ILB"
				);
				window.location.replace("{{{ moodle_url }}}");
			}});
		</script>
	{{/cpf3}}


    <!-- JS do modal CPF (tem que ser inserido depois de #username) -->
    {{#loginChangeNotification}}
	    <!-- Modal do CPF -->
	    <div id="modalCPF" class="modal fade">
	      <div class="modal-dialog">
		<div class="modal-content">
		  <!-- corpo -->
		  <div class="modal-header">
		    Aviso
		  </div>
		  <div class="modal-body">
		    <p>Prezado(a) {{{ firstname }}},</p><br>
		    <p>A partir da próxima segunda-feira, 7/5/2018, o acesso à plataforma Saberes
			será feito por meio de seu CPF e não mais pelo seu
			nome de usuário. Sua senha permanece a mesma.</p>
		    <p>Os certificados dos cursos que você
		       participou serão mantidos, mesmo com essa mudança.</p>
		    <p>Qualquer dúvida ou caso precise regularizar seu cadastro,
			entre em contato conosco pelo endereço de e-mail
			ilbead@senado.leg.br</p><br>
		    <p>Atenciosamente,</p>
		    <p>Equipe de Ensino a Distância do ILB</p>
		  </div>
		  <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">OK</button></div>
		</div>
	      </div>
	    </div>

	    <script>
		    $("#modalCPF").on("show", function() {
		    $("#modalCPF a.btn").on("click", function(e) {
		        $("#modalCPF").modal('hide');
		    });
    		});
    		$("#modalCPF").on("hide", function() {
    		    $("#modalCPF a.btn").off("click");
    		});

    		$("#modalCPF").on("hidden", function() {
    		    $("#modalCPF").remove();
    		});

    		$("#modalCPF").modal({
    		  "backdrop"  : "static",
    		  "keyboard"  : true,
    		  "show"      : true
    		});
	    </script>

	    <!-- CSS para localização do modal do CPF no centro da tela e no topo para mobile -->
	    <style>
	    @media only screen and (min-width: 768px) {
	      .modal {
		text-align: center;
	      }
	      .modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	      }
	      .modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	      }
	    }
	    </style>
    {{/loginChangeNotification}}

        <div class="col-xs-12 col-md-4 bemVindoHeight lessPaddingResponsible SmallScreen" style="background:#f7f7f7; border:1px solid #e6e6e6; ">
            <div style="padding-top: 1.5%;">
                <div class="row">
                    <h3 style="margin-top: auto; margin-bottom: 5%;text-align: center; margin-left: 50px; margin-right: 50px;">Bem-vindo ao Saberes!</h3>
                </div>
                <div class="col-xs-6 paddingCol">
                    <div class="col-xs-12">
                        <p>
                            <strong>Nome:</strong>
                            <br />
                            <span>{{{ firstname }}} {{{ lastname }}}</span>
                        </p>
                    </div>
                    <div class="col-xs-12" style="padding-bottom: 10%;">
                        <a href="{{{userprofileurl}}}"><img class="img-circle" alt="Foto do Perfil" src="{{{userpictureurl}}}" width="70px;" /></a>
                    </div>
                </div>
                <div class="col-xs-6 paddingCol">
                    <!-- {{{ output.user_menu }}} -->
                    <div class="paddingResponsible" style="    padding-bottom: 1%;">
                        <div class="noPaddingLeft mt-buttons">
                            <a class="btn btn-success pull-left btn-block paddings15" href="{{{ moodle_url }}}/my">Meus Cursos</a>
                        </div>
                        <div class="noPaddingLeft mt-buttons">
                            <a class="btn btn-primary pull-left btn-block paddings15" href="{{{ moodle_url }}}/blocks/get_certificate/index.php">Certificados</a>
                        </div>
                        <div class="noPaddingLeft mt-buttons">
                            <a class="btn btn-danger pull-right btn-block paddings15" href="{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-xs-12 col-md-4 bemVindoHeight lessPaddingResponsible BigScreen">
        <div style="background:#f7f7f7; border:1px solid #e6e6e6; padding-top: 1.5%;">
            <h3 style="margin-top: auto; margin-bottom: 8%;text-align: center;">Bem-vindo ao Saberes!</h3>
            <div class="col-xs-9">
                <p>
                    <strong>Nome</strong>
                    <br />
                    <span>{{{ firstname }}} {{{ lastname }}}</span>
                </p>
            </div>
            <div class="col-xs-3" style="padding-bottom: 10%;">
                <a href="{{{userprofileurl}}}"><img class="img-circle" alt="Foto do Perfil" src="{{{userpictureurl}}}" width="70px;" /></a>
            </div>
            <!-- {{{ output.user_menu }}} -->
           <div class="row paddingResponsible" style="    padding-bottom: 1%;">
               <div class="col-xs-12 col-md-4 col-lg-4  mt-buttons specificpadding">
                   <a class="btn btn-success pull-left btn-block" href="{{{ moodle_url }}}/my">Meus Cursos</a>
               </div>
               <div class="col-xs-12 col-md-4 col-lg-4  mt-buttons specificpadding">
                   <a class="btn btn-primary pull-left btn-block" href="{{{ moodle_url }}}/blocks/get_certificate/index.php">Certificados</a>
               </div>
               <div class="col-xs-12 col-md-4 col-lg-4  mt-buttons specificpadding2">
                   <a class="btn btn-danger pull-right btn-block" href="{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}">Sair</a>
               </div>
           </div>
        </div>
    </div>
</div>
{{/username}}
<div class="col-xs-12 col-md-12 col-lg-12">
    <br/>
    <br/>
</div>

<!-- linha de marqueting inferior -->
{{#marquet_inferior}}
<div class="row">
    {{{ linha_marquet }}}
</div>
{{/marquet_inferior}}

<!-- Categorias de cursos -->
{{#tem_categorias}}
<div class="row paddings15">
    <div class="col-xs-12">
        <div class="col-xs-12" style="background-image:url('{{{fundo-c}}}');background-repeat: repeat-x;">
            <div class="col-xs-1" style="width:10px"></div>
            <div class="col-xs-3" style="background:white; margin-top:-17px; width:240px;">
                <h3 class="text-uppercase" style="border: 0; font-weight: lighter;">C<span class="text-uppercase" style="font-size: 0.65em;">ategoria de cursos</span></h3>
            </div>
        </div>
    </div>
    <div align='center'>
        <div class="row">
            {{#categorias}}
            <div class="col-xs-6 col-md-3 text-center">
                <a href='course/index.php?categoryid={{{categoria}}}'><img src="{{{icone_categoria}}}"></a>
                <p>{{{desc_categoria}}}</p>
            </div>
            {{/categorias}}
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12" style="border: 1px solid grey;"></div>
</div>
{{/tem_categorias}}
<br />
<!-- Rodapé completo -->
</div>{{>theme_ilb/footer_front}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
